@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");

:root {
  --color-primary: #202731;
  --color-secondary: #cabaab;
  --color-accent: #faf566;
  --color-danger: #d90b1c;
  --color-success: #2DF58B;
  --color-primary-contrast: #fff;
  --default-border-radius: 1rem;
}

html {
  /* 62.5% x 16px = 10px */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
